html {
    font-family: 'Varela Round', sans-serif;
}

#topline {
    display: flex;
    justify-content: space-between;
}

#startbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    margin: 50px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
}

#start-btn {
    display:inline-block;
    background-color: #CA33FF;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 5px;
    transition-duration: 0.5s;

}

#start-btn:hover {
    background-color: green;
    color: white
}

#quiz {
    justify-content: center;
    align-items: left;
    margin-left: 100px;
    margin: 50px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
}

.btngroup {
    display: block;
    background-color: #CA33FF;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 5px;
    transition-duration: 0.5s;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: #CA33FF;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 5px;
    display: block;
    transition-duration: 0.5s;
}

.btn:hover {
    background-color: yellow;
    color: #CA33FF
}

.choice:hover {
    background-color: yellow;
    color: #CA33FF
}

.hide {
    display: none;
}

#recordscore {
    margin-left: 100px;
    margin: 50px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
}

.btn-primary {
    margin-top: 20px;
}